/* Making changes in css using JavaScript make sure that all your css is inline css */

#fdiv{
    background-color: aqua;
    padding: 2rem;
}


#spara{
    background-color: red;
    padding: 1.1rem;
}