*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: #3f97b3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-container{
    position: relative;
    height: 80vh;
    width: 500px;
    background-color: #0f997b;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0);
    border-radius: 15px;
    overflow: hidden;
}

.input-container{
    position: absolute;
    top: 30px;
    left: 30px;
}

.input-container input
{
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 600;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0);
}
.input-container button{
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 23px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0);
    margin-left: 30px;
    transition: 0.3s ease;
    background: rgb(4, 65, 61);
    color: #fff;

}

.input-container button:hover{
    transform: scale(1.1);
    cursor: pointer;
    font-size: 25px;
}

ul{
    position: absolute;
    top: 60px;
    left: 30px;
    list-style-type: none;
}
ul div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

ul li{
    text-decoration: none;
    font-size: 23px;
    outline: none;
    border-bottom: 2px solid rgb(2, 48, 45);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
}
ul button{
    float: right;
    margin-left: 10px;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 600;
    padding: 5px;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0 rgb(0, 0, 0);
    background: rgb(4, 65, 61);
    color: #fff;
    word-wrap: break-word;
}